body {
	font-family: 'Happy Monkey', cursive;
	text-align: center;
/*linear-gradient() is another css function like url()*/
	background: url(macrame1.png) left top no-repeat, url(macrame1.png) right top no-repeat, url(wolf.png) left bottom no-repeat, url(peonies.png) right bottom no-repeat, linear-gradient(#FFFFFF, #ede0d4);
	background-size: 50%, 50%, 30%, 40%, cover;
	color: #7f5539;
	text-shadow: 0 0 5px #ede0d4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.emoji {
	height: 1.5em;
	margin: auto 10px;
}

#hero {
	padding-top: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#netti {
	border-radius: 50%;
	border: 5px solid #9c6644;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.bday {
	display: flex;
	align-items: center;
	background: #e6ccb2;
	border:3px solid #9c6644;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px;
}

.gift-wrapper {
	
}

.gift-message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	margin: 20px;	
}

.gift {
/*text-align doesn't apply to divs because they are display: block, so we should use the margin: auto to center the gift gif instead*/
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 400px;
	padding: 0 100px;
	background-image: url("giphy.webp");
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: center;
}

#gift-happy:hover {
	background-image: url("happy friends.webp");
	background-size: contain;
	background-repeat: no-repeat;
}

#gift-dance:hover {
	background-image: url("twerk.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

#gift-badass:hover {
	background-image: url("badass.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

#gift-beautiful:hover {
	background-image: url("beautiful.png");
	background-size: cover;
	background-repeat: no-repeat;
}


#gift-cheers:hover {
	background-image: url("claps.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

#gift-chew:hover {
	background-image: url("chewchew.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

#footer {
	display: flex;
	justify-content: center;
	color: inherit;
	width: 400px;
	margin: 40px auto 200px;
}
